@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto+Mono&display=swap');

body{
    background-color: #F6D98F;
    margin: 0;
    padding: 10px;
    display: flexbox;
}

.eu{
    background-image:url( );
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Orbitron', sans-serif;
    color: #833E5B;
    text-align: center;
}

.eeu{
    float: right;
}
h1{
    font-size: 100px;
}

h2{
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: #833E5B;
}

h3{
     font-size: 25px;
     font-family: 'Orbitron', sans-serif;
     color: #CC979F;
     text-align: center;
}

h4{
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    color: #3C4A79;
}

p{
    color: #833E5B;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.desc{
    font-size: 17px;
    text-align: center;
    color:#181D3B;
    font-family: 'Roboto Mono', monospace;
}
 
barrinha{
    text-align: center;
    width: 100%;
}


li{
    font-size: 24.5px;
    list-style: none;
    align-self: center;
    float: left;
    margin: 10px 10px 20px 10px;
    font-family: 'Orbitron', sans-serif;
}

a:link {
    text-decoration: none;
    color: #3C4A79;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  }
  
a:hover {
    text-decoration: none;
    color: #A6A9C8;
  }

#botao{
    background-color:#181D3B;
    border: 5px white solid;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  }

#botao:hover{
    text-decoration: none;
    background-color: #A6A9C8;
    color:#181D3B;
}  

.apresentacao{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    color:#181D3B;
}

.projeto{
    font-family: 'Roboto Mono', monospace;
    background-color: #3C4A79;
    color:#F6D98F;
    font-size: 17px;
    display: inline-flexbox;
    width: 50%;
    height: 560px;
    float: left;
    margin-left: 2,5px;
    margin: 25px 50px 25px 30px;
    box-sizing: border-box;
    padding: 7,5px;
    align-content: center;
}

.demonstracao{
    height: 200px;
    width: 200px;
    margin: 10px;
    align-self: center;
    border-radius: 1,5cm;
    border-color: #833E5B;
    border-width: 4,5px;
}

.icon{
    height:85px;
    width: 85px;
    float: left;
}

.paracontato{
   
    font-family: 'Roboto Mono', monospace;
    color: #833E5B;
    float: left;
    width: 100%;
    font-size: 23px;
    text-align: center;
}

.curriculum{
    background-color: #F6D98F;
    font-family: 'Roboto Mono', monospace;
    color: #181D3B;
    float: left;
    font-size: 23px;
    text-align: center;
    width: 100%;
}

footer{
    background-color:#181D3B;
    font-family: 'Roboto Mono', monospace;
    color: #F6D98F;
    float: left;
    font-size: 18,5px;
    text-align: center;
    width: 100%;
}

#barra{
    height: 50px;
}

form{
    font-family: 'Roboto Mono', monospace;
    color: #181D3B;
    text-align: center;
    float:right;
    font-size: 30px;
    border-radius: 25px;
}