@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto+Mono&display=swap');

body{
    background-color: #F6D98F;
    margin: 0;
    padding: 0;
    display: flexbox;
    max-width: 100%;
    justify-items:baseline;
}

header{
    width: 100%;
    text-align: center;
}

.eu{
    font-family: 'Orbitron', sans-serif;
    color: #833E5B;
}

h1{
    font-size: 100px;
    text-align: center;
}

h2{
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    color: #833E5B;
    text-align: center;
}

h3{
     font-family: 'Orbitron', sans-serif;
     text-align: center;
     font-size: 13px;
     margin-bottom: 7.5px;
}

p{
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

.desc{
    font-size: 20px;
    text-align: center;
    color: #F6D98F;
    font-family: 'Roboto Mono', monospace;
}

.barrinha{
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 30px;
}

li{
    list-style: none;
    text-align: center;
    float: left;
    margin: 10px 10px 30px 10px;
}

a:link {
    text-decoration: none;
    color: #833E5B;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    font-family: 'Orbitron', sans-serif;
  }
  
a:hover {
    text-decoration: none;
    color:#3C4A79;
  }

#voltar{
    font-size: 30px;
    text-align: center;
}

#botao{
    border: 5px white solid;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  }

#botao:hover{
    text-decoration: none;
    background-color: #A6A9C8;
    color:#181D3B;
}  
.apresentacao{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color:#181D3B;
}

.intro{
    text-align: center;
}

.col2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projeto{
    font-family: 'Roboto Mono', monospace;
    background-color:#181D3B;
    color:#F6D98F;
    font-size: 20px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 13px;
    box-sizing: border-box;
    width: 47%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: horizontal;
}

.demonstracao{
    height: 240px;
    width: 240px;
    object-fit: cover;
    margin-top: 10px;
    border-width: 4.5px;
    align-self: center;
    border-radius: 7.8px;
}

.icon{
    height:70px;
    width: 70px;
    margin-top: 20px;
    object-fit: scale-down;
}

.contato{
    font-family: 'Roboto Mono', monospace;
    color:#F6D98F;
    background-color: #303552;
    border-radius: 10px;
    margin-top: 20px;
    height: 500px;
}

.colesquerda{
    float: left;
    width: 80%;
    margin-top: 20px;
}

.coldireita{
    float: right;
    width: 20%;
}

.centralizar{
    
    float: center;
    text-align: center;
    margin: 20px;
}

.footer{
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    max-width: 100%;
    text-align: center;
}

.sociais{
    font-size: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.forml{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    justify-content: center;
    width: 100%;
    height: 70%;
}

#barra{
    background-color:#303552;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    height: 10%;
    text-align: center;
    justify-content: center;
}

#disclaimer{
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    color:#F6D98F;
    padding: 5px;
    width: 100%;
}

button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color:#833E5B;
    color:#ffffff;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s;
    float: right;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
  
button:hover{
    background-color: #181D3B;
    cursor: pointer;
}

input[type=text], input[type=email], input[type=number]{
    width: 100%;
    height: 60%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 6px;
    padding-left: 3px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #303552;
    border-color: #833E5B;
    color: white;
    font:20px bold;
    text-align: center;
    resize: vertical;
    justify-self: center;
    font-family: 'Roboto Mono', monospace;
  }

.texto{
 margin-top: 5px;
 float: right;
 width: 50%;
}

textarea{
    width: 100%;
    min-height: 280px;
    font: 20px bold;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;    
    background-color: #303552;
    border-color: #833E5B;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
 .linha{
    width: 48%;
    height: 80px;
    margin-top: 6px;
    float: left;
 } 

 @media screen and (max-width: 700px) {
    .coldireita{   
      width: 100%;
      padding: 0;
    }

    .colesquerda{
      width: 100%;
      height:10%;
      padding: 0;
    }

    .sociais{
        flex-direction: column;
        justify-content: space-evenly;
        display: flex;
    }
  }

 @media screen and (max-width: 600px) {
    .linha, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }